<div class="contain">
    <p>Contain</p>
    <mat-card>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
        <mat-card-actions align="end">
          <button mat-button>Like</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <div class="example-form"  [formGroup]="mainFormAll">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error
          *ngIf="
          mainFormAll?.get('emailFormControl').hasError('required') &&
          (mainFormAll?.get('emailFormControl')?.dirty || mainFormAll?.get('emailFormControl')?.touched)
          ">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </div>
</div>