@use '@angular/material' as mat;
@import "custom-theme";

@include mat.core();

$theme-color: (
  first-color: #2B1D34,
  second-color: #452F5B,
  third-color: #ffac40,
  default-color: #ffffff,
  50: #f4e6ef,
  100: #d5c5d4,
  200: #b3a0b4,
  300: #947c93,
  400: #7d617d,
  500: #674667,
  600: #5b3e5d,
  700: #4c334f,
  800: #3b2942,
  900: #2b1d34,
  contrast: (
    first-color: white,
    second-color: #c62828,
    third-color: white,
    default-color: black,
    50: #f4e6ef,
    100: #d5c5d4,
    200: #b3a0b4,
    300: #947c93,
    400: #7d617d,
    500: #674667,
    600: #5b3e5d,
    700: #4c334f,
    800: #3b2942,
    900: #2b1d34,
  ),
);

.murasaki-theme {
  $primary: mat.define-palette($theme-color);
  $accent: mat.define-palette($theme-color);
  $warn: mat.define-palette($theme-color, second-color);
  $theme: mat.define-dark-theme($primary, $accent, $warn);

  @include cust-theme($theme, true, false);
}